// src/layouts/MainLayout.scss
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: transparent !important;
}

.main-content {
  flex-grow: 1;
  padding-bottom: 2rem;
  background: transparent !important;
}